*,
::after,
::before {
  box-sizing: border-box;
}

/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Cabin&family=Roboto+Condensed:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Yeon+Sung&display=swap");

html {
  font-size: 100%;
} /*16px*/

:root {
  /* colors */

  --theme-ui-colors-black10: #fafbfc;
  --theme-ui-colors-black15: #f5f7fa;
  --theme-ui-colors-black20: #e7eeec;
  --theme-ui-colors-black30: #b8c4c2;
  --theme-ui-colors-black40: #9fa1a2;
  --theme-ui-colors-black50: #5d6c74;
  --theme-ui-colors-black60: #3d4f58;
  --theme-ui-colors-black70: #21313c;
  --theme-ui-colors-black80: #061621;
  --theme-ui-colors-black00: #ffffff;
  --theme-ui-colors-blue05: #eefdfa;
  --theme-ui-colors-blue10: #e3fcf7;
  --theme-ui-colors-blue20: #a6ffec;
  --theme-ui-colors-blue30: #53e9f6;
  --theme-ui-colors-blue40: #00d2ff;
  --theme-ui-colors-blue50: #009ffd;
  --theme-ui-colors-blue60: #006cfa;
  --theme-ui-colors-blue70: #0d427c;
  --theme-ui-colors-blue80: #001e2b;
  --theme-ui-colors-purple05: #fbf3ff;
  --theme-ui-colors-purple10: #f9ebff;
  --theme-ui-colors-purple20: #f2c5ee;
  --theme-ui-colors-purple30: #d38ff0;
  --theme-ui-colors-purple40: #b45af2;
  --theme-ui-colors-purple50: #983ff9;
  --theme-ui-colors-purple60: #7c25ff;
  --theme-ui-colors-purple70: #5400f8;
  --theme-ui-colors-purple80: #2a0f91;
  --theme-ui-colors-green05: #f8ffea;
  --theme-ui-colors-green10: #f4ffdc;
  --theme-ui-colors-green20: #e9ff99;
  --theme-ui-colors-green30: #b1ff05;
  --theme-ui-colors-green40: #00ed64;
  --theme-ui-colors-green50: #00aa57;
  --theme-ui-colors-green60: #00684a;
  --theme-ui-colors-green70: #014e3d;
  --theme-ui-colors-green80: #023430;
  --theme-ui-colors-yellow05: #fefae9;
  --theme-ui-colors-yellow10: #fef7db;
  --theme-ui-colors-yellow20: #ffec9e;
  --theme-ui-colors-yellow30: #fbdb5a;
  --theme-ui-colors-yellow40: #ffc010;
  --theme-ui-colors-yellow50: #f28900;
  --theme-ui-colors-yellow60: #944f01;
  --theme-ui-colors-yellow70: #4c2100;
  --theme-ui-colors-yellow80: #2f1400;
  --theme-ui-colors-red05: #fff2ef;
  --theme-ui-colors-red10: #ffeae5;
  --theme-ui-colors-red20: #ffcdc7;
  --theme-ui-colors-red30: #ff6960;

  /* fonts  */
  --headingFont: "Roboto Condensed", Sans-Serif;
  --bodyFont: "Cabin", Sans-Serif;
  --small-text: 1.2rem;
  --extra-small-text: 1rem;
  /* rest of the vars */
  --backgroundColor: var(--grey-100);
  --textColor: var(--grey-900);
  --borderRadius: 0.25rem;
  --letterSpacing: 1px;
  --transition: 0.3s ease-in-out all;
  --max-width: 1120px;
  --fixed-width: 500px;
  --fluid-width: 90vw;
  --breakpoint-lg: 992px;
  --nav-height: 6rem;
  /* box shadow*/
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

body {
  background-color: var(--theme-ui-colors-green10);
  font-family: Akzidenz Grotesk BQ Light, Helvetica;
}

small,
.text-small {
  font-size: var(--small-text);
}

a {
  text-decoration: none;
}

button:disabled {
  cursor: not-allowed;
}
ul {
  list-style-type: none;
}

.img {
  width: 100%;
  display: block;
  object-fit: cover;
}
/* buttons */

.btn {
  cursor: pointer;
  color: var(--white);
  background: var(--theme-ui-colors-green40);
  border: transparent;
  border-radius: var(--borderRadius);
  letter-spacing: var(--letterSpacing);
  padding: 0.7rem;
  box-shadow: var(--shadow-2);
  transition: var(--transition);
  text-transform: none;
  display: inline-block;
  font-family: "Yeon Sung", cursive;
  font-size: 1rem;
}
.btn:hover {
  box-shadow: var(--shadow-3);
  border-radius: 40px;
}
.btn-hipster {
  color: var(--primary-500);
  background: var(--primary-200);
}
.btn-hipster:hover {
  color: var(--primary-200);
  background: var(--primary-700);
}
.btn-block {
  width: 100%;
}
.btn-hero {
  font-size: 1.25rem;
  padding: 0.5rem 1.25rem;
}
.btn-danger {
  background: var(--red-light);
  color: var(--red-dark);
}
.btn-danger:hover {
  background: var(--red-dark);
  color: var(--white);
}

/* form */

.form {
  width: 90vw;
  max-width: var(--fixed-width);
  background-color: white;
  box-shadow: var(--shadow-2);
  padding: 2rem 2.5rem;
  margin: 3rem auto;
  transition: var(--transition);
  border-radius: 40px;
}
.form:hover {
  box-shadow: var(--shadow-4);
}
.form-label {
  display: block;
  font-size: var(--smallText);
  margin-bottom: 0.5rem;
  text-transform: none;
  letter-spacing: var(--letterSpacing);
}

.form-textarea {
  font-size: var(--smallText);
  width: 100%;
  padding: 0.375rem 0.75rem;
  border-radius: var(--borderRadius);
  border: 1px solid var(--grey-200);
}
.form-row {
  margin-top: 1rem;
}
.form-input {
  width: 80%;
  padding: 0.5rem;
  font-size: 1rem;
  background-color: var(--theme-ui-colors-green05);
}
input:active {
  border-color: #00ed64;
}

::placeholder {
  font-family: inherit;
  color: var(--grey-400);
}

@media screen and (min-width: 992px) {
}
